@charset "UTF-8";
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/*Purple*/
/*Green*/
@font-face {
    font-family: 'fontello';
    src: url("../font/fontello.eot?5033500");
    src: url("../font/fontello.eot?5033500#iefix") format("embedded-opentype"), url("../font/fontello.woff2?5033500") format("woff2"), url("../font/fontello.woff?5033500") format("woff"), url("../font/fontello.ttf?5033500") format("truetype"), url("../font/fontello.svg?5033500#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5033500#fontello') format('svg');
  }
}
*/
/* line 23, ../sass/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 58, ../sass/_fonts.scss */
.icon-arrows-cw:before {
    content: '\e802';
}

/* line 59, ../sass/_fonts.scss */
.icon-attention:before {
    content: '\e803';
}

/* line 60, ../sass/_fonts.scss */
.icon-hash:before {
    content: '\e816';
}

/* line 61, ../sass/_fonts.scss */
.icon-cancel:before {
    content: '\e819';
}

/* line 62, ../sass/_fonts.scss */
.icon-angle-left:before {
    content: '\f104';
}

/* line 63, ../sass/_fonts.scss */
.icon-angle-right:before {
    content: '\f105';
}

/* line 64, ../sass/_fonts.scss */
.icon-weibo:before {
    content: '\f18a';
}

/* line 65, ../sass/_fonts.scss */
.icon-qq:before {
    content: '\f1d6';
}

/* line 66, ../sass/_fonts.scss */
.icon-wechat:before {
    content: '\f1d7';
}

/* line 1, ../sass/_fontsicon.scss */
.icon-mobile {
    width: 15px;
    height: 36px;
    background: url(../images/icon_login.png) 0px 11px no-repeat;
    background-size: 100%;
    margin-left: 5px;
}

/* line 9, ../sass/_fontsicon.scss */
.icon-lock {
    width: 15px;
    height: 36px;
    background: url(../images/icon_login.png) 0px -56px no-repeat;
    background-size: 100%;
    margin-left: 5px;
}

/* line 17, ../sass/_fontsicon.scss */
.icon-code {
    width: 15px;
    height: 33px;
    background: url(../images/icon_login.png) 0px -25px no-repeat;
    background-size: 100%;
    margin-left: 5px;
    margin-top: 3px;
}

/* line 26, ../sass/_fontsicon.scss */
.form-control i.icon-code:after {
    top: 12px;
}

/* line 30, ../sass/_fontsicon.scss */
.graphcode {
    width: 15px;
    height: 36px;
    background: url(../images/icon_login.png) 0px -91px no-repeat;
    background-size: 100%;
    margin-left: 5px;
}

/* line 38, ../sass/_fontsicon.scss */
.icon-vip {
    width: 25px;
    height: 30px;
    background: url(../images/icon_list.png) 0px -4px no-repeat;
    background-size: 100%;
    margin-left: 5px;
    margin-right: 15px;
    vertical-align: bottom;
}

/* line 47, ../sass/_fontsicon.scss */
.icon-pay {
    width: 25px;
    height: 30px;
    background: url(../images/icon_list.png) 0px -55px no-repeat;
    background-size: 100%;
    margin-left: 5px;
    margin-right: 15px;
    vertical-align: bottom;
}

/* line 56, ../sass/_fontsicon.scss */
.icon-link {
    width: 60px;
    height: 60px;
    background: url(../images/img_link.png) 0px 0px no-repeat;
    background-size: 100%;
    position: absolute;
    margin: 26px -34px;
}

/* line 65, ../sass/_fontsicon.scss */
.icon-question {
    width: 18px;
    height: 18px;
    background: url(../images/img_question.png) 0px 0px no-repeat;
    background-size: 100%;
}

/*******************  Template Style  *********************** */
/* line 50, ../sass/style.scss */
header {
    background-color: #f2f2f2;
    text-align: center;
    color: #000;
    padding: 13px 0;
    font-size: 19px;
    position: fixed;
    width: 100%;
    font-weight: bold;
    z-index: 9;
}
/* line 60, ../sass/style.scss */
header a {
    color: #000;
}
/* line 63, ../sass/style.scss */
header .icon-cancel {
    position: absolute;
    left: 10px;
    color: #000;
}

/* line 70, ../sass/style.scss */
body {
    font-family: "微软雅黑", "微軟正黑體", "helvetica", "Arial", sans-serif;
    line-height: 1.8;
    font-size: 15px;
    color: #333;
    overflow-x: hidden !important;
    position: relative;
    background-color: #efeff4;
    margin: 0 auto;
    height: 99vh;
}

/* line 82, ../sass/style.scss */
a {
    color: #008bd5;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
/* line 86, ../sass/style.scss */
a:hover {
    text-decoration: none;
    color: #008bd5;
}

/* line 92, ../sass/style.scss */
p,
ul,
ol {
    font-family: "微软雅黑", "微軟正黑體", "helvetica", "Arial", sans-serif;
}

/* line 98, ../sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "微软雅黑", "微軟正黑體", "helvetica", "Arial", sans-serif;
    color: #333;
}

/* line 108, ../sass/style.scss */
figure {
    margin-bottom: 2em;
}

/* line 112, ../sass/style.scss */
button {
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    letter-spacing: 1px;
}

/* line 119, ../sass/style.scss */
.btn {
    text-transform: uppercase;
    letter-spacing: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
    font-size: 15px;
}
/* line 125, ../sass/style.scss */
.btn:hover, .btn:active, .btn:focus {
    color: #fff;
    -webkit-box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.2);
    outline: none !important;
}

/* line 134, ../sass/style.scss */
::selection {
    color: #fcfcfc;
    background: #008bd5;
}

/* line 139, ../sass/style.scss */
::-webkit-selection {
    color: #fcfcfc;
    background: #008bd5;
}

/* line 144, ../sass/style.scss */
::-moz-selection {
    color: #fcfcfc;
    background: #008bd5;
}

/* line 149, ../sass/style.scss */
b,
strong {
    font-weight: bold;
}

/* line 154, ../sass/style.scss */
i {
    display: inline-block;
}

/* line 158, ../sass/style.scss */
.y {
    float: right;
}

/* line 162, ../sass/style.scss */
.z {
    float: left;
}

/* line 166, ../sass/style.scss */
.container {
    padding: 0;
    width: 90%;
}

/* line 171, ../sass/style.scss */
::-webkit-input-placeholder {
    color: #ccc;
}

/* line 175, ../sass/style.scss */
::-moz-placeholder {
    color: #ccc;
}

/* line 179, ../sass/style.scss */
::-ms-input-placeholder {
    color: #ccc;
}

/* line 183, ../sass/style.scss */
::-moz-placeholder {
    color: #ccc;
}

/*******************  Custom scrollbar  *********************** */
/* line 189, ../sass/style.scss */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* line 194, ../sass/style.scss */
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

/* line 199, ../sass/style.scss */
::-webkit-scrollbar-thumb {
    background: #333;
    border: 0px none #fff;
    border-radius: 60px;
}

/* line 205, ../sass/style.scss */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

/* line 209, ../sass/style.scss */
::-webkit-scrollbar-track {
    background: #ddd;
    border: 0px none #fff;
    border-radius: 0;
}

/*Login*/
/* line 217, ../sass/style.scss */
body.login {
    background-color: #fff;
}
/* line 219, ../sass/style.scss */
body.login header {
    background-color: #f2f2f2;
}
/* line 222, ../sass/style.scss */
body.login .arrows {
    background-color: #fafafc;
}

/* line 227, ../sass/style.scss */
.welcome {
    margin-top: 40px;
    text-align: center;
}
/* line 230, ../sass/style.scss */
.welcome img {
    width: 90px;
    height: 90px;
}
/* line 234, ../sass/style.scss */
.welcome .user-photo {
    border: 1px solid #e5e5e5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/* line 238, ../sass/style.scss */
.welcome h1 {
    color: #666666;
    margin-top: 15px;
    font-size: 16px;
}
/* line 243, ../sass/style.scss */
.welcome h2 {
    font-weight: bold;
    font-size: 20px;
}

/* line 249, ../sass/style.scss */
.user-photo {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 76px;
    height: 76px;
}

/* line 255, ../sass/style.scss */
form.panel {
    width: 100%;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 20px 20px 0;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
/* line 263, ../sass/style.scss */
form.panel h1 {
    font-weight: normal;
    color: #008bd5;
    font-size: 22px;
}

/* line 270, ../sass/style.scss */
form {
    text-align: center;
}

/* line 274, ../sass/style.scss */
.field {
    border: 1px solid #eaeaea;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
}

/* line 280, ../sass/style.scss */
.form-control {
    height: auto;
    border: none;
    box-shadow: none;
    padding: 0;
    line-height: 50px;
    height: 50px;
    background: none;
    padding: 0 13px;
}
/* line 289, ../sass/style.scss */
.form-control input,
.form-control select {
    display: block;
    width: 100%;
    padding: 15px 10px 8px 49px;
    font-size: 15px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
/* line 308, ../sass/style.scss */
.form-control select {
    width: 100%;
    text-indent: 45px;
    padding: 12px 10px 12px 0;
    background-color: #fff;
    line-height: 20px;
    height: 50px;
    appearance: none;
}
/* line 317, ../sass/style.scss */
.form-control input.date {
    line-height: 30px;
    width: 100%;
    height: 50px;
    appearance: none;
}
/* line 323, ../sass/style.scss */
.form-control i {
    position: absolute;
    color: #008bd5;
    font-size: 17px;
}
/* line 327, ../sass/style.scss */
.form-control i:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #eaeaea;
    position: absolute;
    left: 30px;
    top: 14px;
}

/* line 340, ../sass/style.scss */
.mobile-code {
    width: 24%;
    padding: 0 5px 0px 45px;
    height: 48px;
    display: inline-block;
    background: #fff;
    color: #007bbc;
}

/* line 349, ../sass/style.scss */
.form-control.mobile-field input {
    border-bottom: 1px solid #E0E0E0;
}

/* line 353, ../sass/style.scss */
.underline {
    border-bottom: 1px solid #E0E0E0;
    margin-top: 4px;
}

/* line 358, ../sass/style.scss */
.form-control.mobile-field input:active + .underline,
.form-control.mobile-field input:focus + .underline {
    border-radius: 0;
}

/* line 364, ../sass/style.scss */
.form-control.mobile-field input,
.mobile-number {
    width: 74%;
    display: inline-block;
    padding: 2px 10px 0px 5px;
    height: 48px;
    border-bottom: none;
    margin-top: -5px;
    vertical-align: middle;
}

/* line 374, ../sass/style.scss */
.function {
    margin: 10px 0 0;
    color: #8b8b8b;
    font-size: 14px;
    background: none;
    cursor: pointer;
}
/* line 380, ../sass/style.scss */
.function a:hover {
    color: #008bd5;
}

/* line 386, ../sass/style.scss */
.code {
    margin-top: -43px;
    height: 40px;
}
/* line 389, ../sass/style.scss */
.code img {
    height: 40px;
}

/* line 394, ../sass/style.scss */
.refresh {
    background: none;
    border: none;
    display: inherit;
    margin-left: -35px;
}

/* line 401, ../sass/style.scss */
.no-account {
    text-align: center;
    margin: 20px auto;
    color: #666;
    font-size: 14px;
}

/* line 408, ../sass/style.scss */
.social-login {
    margin-top: 20px;
    text-align: center;
}
/* line 411, ../sass/style.scss */
.social-login p {
    margin-bottom: 10px;
}
/* line 414, ../sass/style.scss */
.social-login li {
    display: inline-block;
}

/* line 419, ../sass/style.scss */
.or {
    position: relative;
}
/* line 421, ../sass/style.scss */
.or p {
    color: #b5b1b1;
    width: 160px;
    margin: 10px auto;
    background: #fff;
    text-align: center;
    position: relative;
}
/* line 429, ../sass/style.scss */
.or:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #e0e0e0;
    margin: 11px auto;
    position: absolute;
}

/* line 440, ../sass/style.scss */
.separation.or {
    margin: 10px 0 20px 0;
}
/* line 442, ../sass/style.scss */
.separation.or p {
    color: #008cd6;
    width: 160px;
    background: #f9f9f9;
}
/* line 447, ../sass/style.scss */
.separation.or:before {
    display: none;
}

/* line 452, ../sass/style.scss */
.wechat {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #51C234;
    display: inline-block;
    margin: 0 5px;
}
/* line 459, ../sass/style.scss */
.wechat .icon-wechat {
    color: #fff;
    font-size: 25px;
    margin-left: -4px;
}
/* line 464, ../sass/style.scss */
.wechat:hover {
    background-color: #43AD28;
}

/* line 469, ../sass/style.scss */
.qq {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #3b9cff;
    display: inline-block;
    margin: 0 5px;
}
/* line 476, ../sass/style.scss */
.qq .icon-qq {
    color: #fff;
    font-size: 25px;
}
/* line 480, ../sass/style.scss */
.qq:hover {
    background-color: #1593fc;
}

/* line 485, ../sass/style.scss */
.weibo {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e32529;
    display: inline-block;
}
/* line 491, ../sass/style.scss */
.weibo .icon-weibo {
    color: #fff;
    font-size: 25px;
}
/* line 495, ../sass/style.scss */
.weibo:hover {
    background-color: #CD171B;
}

/* line 500, ../sass/style.scss */
.agree {
    font-size: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: #666;
}

/* line 507, ../sass/style.scss */
.btn-submit {
    width: 90%;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF005BEA', endColorstr='#FF00C6FB');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWJlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYzZmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005bea), color-stop(100%, #00c6fb));
    background-image: -moz-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: -webkit-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: linear-gradient(to right, #005bea 0%, #00c6fb 100%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px rgba(57, 134, 255, 0.4);
    box-shadow: 0 8px 20px rgba(57, 134, 255, 0.4);
    border: none;
    height: 47px;
    line-height: 47px;
    color: #fff;
    font-size: 15px;
    margin: 15px 0 10px;
    outline: none;
}
/* line 520, ../sass/style.scss */
.btn-submit:hover {
    -webkit-box-shadow: inset 1px 3px 11px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 3px 11px rgba(0, 0, 0, 0.2);
}
/* line 523, ../sass/style.scss */
.btn-submit.disable {
    background: #ddd;
    color: #949494;
}
/* line 527, ../sass/style.scss */
.btn-submit.exit {
    margin-top: 40px;
}

/* line 532, ../sass/style.scss */
.error-tip {
    font-size: 14px;
    color: #ff4545;
    border-radius: 4px;
    line-height: 1.6;
    padding: 5px 10px;
    margin-top: -1px;
    display: block;
    text-align: center;
}
/* line 541, ../sass/style.scss */
.error-tip .icon-attention {
    color: #ff4545;
    font-size: 14px;
}
/* line 544, ../sass/style.scss */
.error-tip .icon-attention:after {
    display: none;
}

/* line 550, ../sass/style.scss */
.card {
    background: url(../images/bg_dafaultcard.png) no-repeat;
    width: 100%;
    background-size: 100%;
    padding-bottom: 8px;
    height: auto;
    position: relative;
}
/* line 555, ../sass/style.scss */
.card .card-body {
    padding: 103px 50px;
}
/* line 558, ../sass/style.scss */
.card .icon-qrcode {
    font-size: 30px;
    margin: -14px -7px 0 0;
    color: #000;
}
/* line 563, ../sass/style.scss */
.card p {
    margin-top: 72px;
    color: #c9b718;
}

/* line 569, ../sass/style.scss */
.card.default {
    background: url(../images/bg_dafaultcard_logo.png) no-repeat;
    width: 100%;
    background-size: 100%;
    height: auto;
    position: relative;
}
/* line 575, ../sass/style.scss */
.card.default .member .list-body {
    margin-top: 149px;
}
/* line 578, ../sass/style.scss */
.card.default .list {
    color: #555;
}
/* line 580, ../sass/style.scss */
.card.default .list .edit {
    margin-top: 23px;
}

/* line 582, ../sass/style.scss */
.tip {
    color: #868686;
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0;
}

/* line 589, ../sass/style.scss */
.send-code {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF005BEA', endColorstr='#FF00C6FB');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWJlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYzZmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005bea), color-stop(100%, #00c6fb));
    background-image: -moz-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: -webkit-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: linear-gradient(to right, #005bea 0%, #00c6fb 100%);
    color: #fff;
    line-height: 1.6;
    padding: 2px 11px;
    margin-top: -32px;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    z-index: 99;
}

/* line 603, ../sass/style.scss */
.send-code.disabled {
    background: #ddd;
    color: #7d7d7d;
    border: 1px solid #ddd;
}

/* line 608, ../sass/style.scss */
.title {
    padding: 37px 0 10px 22px;
    font-size: 17px;
    color: #666666;
    font-size: 15px;
}

/* line 615, ../sass/style.scss */
.btn-default, .edit {
    color: #fff;
    background-color: #00c6fb;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF005BEA', endColorstr='#FF00C6FB');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWJlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYzZmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005bea), color-stop(100%, #00c6fb));
    background-image: -moz-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: -webkit-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: linear-gradient(to right, #005bea 0%, #00c6fb 100%);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 8px 20px rgba(57, 134, 255, 0.4);
    box-shadow: 0 8px 20px rgba(57, 134, 255, 0.4);
    display: inline-block;
    padding: 4px 20px;
    font-size: 13px;
    letter-spacing: 2px;
}
/* line 626, ../sass/style.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .edit:hover, .edit:focus, .edit:active {
    color: #fff;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF005BEA', endColorstr='#FF00C6FB');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWJlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYzZmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005bea), color-stop(100%, #00c6fb));
    background-image: -moz-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: -webkit-linear-gradient(left, #005bea 0%, #00c6fb 100%);
    background-image: linear-gradient(to right, #005bea 0%, #00c6fb 100%);
}

/* line 633, ../sass/style.scss */
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
    color: #fff;
}

/* line 637, ../sass/style.scss */
.list-body {
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
/* line 642, ../sass/style.scss */
.list-body .form-control.no-icon input {
    padding: 12px 10px 12px 0;
    border-bottom: 1px solid #f4f4f4;
}
/* line 646, ../sass/style.scss */
.list-body .list:last-child {
    border: none;
}

/* line 651, ../sass/style.scss */
.list {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0 10px 0px;
    font-size: 16px;
}
/* line 656, ../sass/style.scss */
.list .user-photo {
    vertical-align: middle;
}
/* line 659, ../sass/style.scss */
.list .left {
    width: 58%;
    display: inline-block;
}
/* line 663, ../sass/style.scss */
.list .right {
    width: 40%;
    display: inline-block;
    text-align: right;
}
/* line 668, ../sass/style.scss */
.list .edit {
    color: #fff;
    margin-top: 22px;
}
/* line 672, ../sass/style.scss */
.list a {
    color: #000;
}
/* line 674, ../sass/style.scss */
.list a:hover {
    color: #008bd5;
}
/* line 678, ../sass/style.scss */
.list .account {
    color: #000;
}

/* line 682, ../sass/style.scss */
.photo {
    width: 80px;
    height: 80px;
    border: 2px solid #e5e5e5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

/* line 691, ../sass/style.scss */
.nickname {
    background: url(../images/bg.png) no-repeat;
    background-size: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: -5px;
}
/* line 697, ../sass/style.scss */
.nickname .photo {
    margin-top: 49px;
    margin-right: 0;
}
/* line 701, ../sass/style.scss */
.nickname p {
    padding-top: 3px;
    font-weight: bold;
    font-size: 17px;
}

/* line 708, ../sass/style.scss */
.icon-angle-right {
    color: #ccc;
}

/* line 711, ../sass/style.scss */
.link {
    color: #333;
}

/* line 714, ../sass/style.scss */
.unlink {
    color: #ccc;
    font-size: 14px;
}

/* line 719, ../sass/style.scss */
.member {
    width: 80%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
/* line 728, ../sass/style.scss */
.member .list {
    border: none;
    font-weight: bold;
}
/* line 732, ../sass/style.scss */
.member .list-body {
    padding: 10px 20px;
    border: none;
    margin-top: 145px;
    -webkit-box-shadow: 1px 8px 34px #dadaee;
    box-shadow: 1px 8px 34px #dadaee;
}

/* line 740, ../sass/style.scss */
.active-service {
    border-top: 1px solid #e7e7e7;
    font-weight: normal;
    margin-top: 20px;
    overflow: hidden;
    font-size: 14px;
}
/* line 746, ../sass/style.scss */
.active-service li {
    padding: 5px 0;
    border-bottom: 1px solid #e7e7e7;
}
/* line 749, ../sass/style.scss */
.active-service li:last-child {
    border: none;
    padding-bottom: 0;
}
/* line 754, ../sass/style.scss */
.active-service .date {
    font-size: 12px;
    color: #ccc;
    text-align: right;
}

/* line 760, ../sass/style.scss */
.card .active-service p {
    color: #ccc;
    margin-top: 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.3;
}

/* line 768, ../sass/style.scss */
.list-body .no-icon:last-child input {
    border: none;
}

/* line 773, ../sass/style.scss */
.pl {
    padding-left: 17px;
}

/*============================================================
    VIP
============================================================*/
/* line 780, ../sass/style.scss */
.info {
    padding: 13px 25px;
    background-color: #fff;
    margin-bottom: 10px;
    min-height: 64px;
}
/* line 785, ../sass/style.scss */
.info .photo {
    width: 64px;
    height: 64px;
    vertical-align: middle;
}
/* line 790, ../sass/style.scss */
.info .user-photo {
    width: 60px;
    height: 60px;
}

/* line 795, ../sass/style.scss */
.vipcard {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
}
/* line 800, ../sass/style.scss */
.vipcard .cover {
    background: url(../images/bg_vipcard.jpg) no-repeat;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* line 805, ../sass/style.scss */
.vipcard .cover h3 {
    color: #3c3700;
    font-size: 16px;
    padding: 25px 17px;
    display: inline-block;
}
/* line 810, ../sass/style.scss */
.vipcard .cover h3 span {
    color: #847900;
    font-size: 11px;
    display: block;
}
/* line 816, ../sass/style.scss */
.vipcard .cover .btn-default {
    margin-top: 37px;
    margin-right: 22px;
}
/* line 821, ../sass/style.scss */
.vipcard .card-info {
    color: #999;
    font-size: 10px;
    padding: 10px 17px;
}
/* line 825, ../sass/style.scss */
.vipcard .card-info li:first-child {
    color: #666;
    font-size: 13px;
}
/* line 830, ../sass/style.scss */

.question {
    z-index: 9;
    position: absolute;
    top: 232px;
    right: 45px;
}

@media only screen and (max-width: 375px) {
    /* line 893, ../sass/style.scss */
    .question {
        right: 35px;
    }
}

/* line 837, ../sass/style.scss */
.tip-info {
    color: #666;
    text-align: center;
    padding: 32px;
}

/* line 843, ../sass/style.scss */
.notice {
    color: #ff685f;
}
/* line 845, ../sass/style.scss */
.notice small {
    vertical-align: super;
    font-size: 10px;
}

/* line 850, ../sass/style.scss */
.comment-info {
    font-size: 11px;
    color: #999999;
}
/* line 853, ../sass/style.scss */
.comment-info span {
    color: #666;
    font-weight: bold;
}
/* line 856, ../sass/style.scss */
.comment-info span small {
    vertical-align: super;
    font-size: 10px;
    font-weight: normal;
}

/*============================================================
    Paid
============================================================*/
/* line 869, ../sass/style.scss */
.info h1 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    font-weight: bold;
}

/* line 876, ../sass/style.scss */
.item {
    border: 2px solid #e6e6e6;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 13px 0;
    margin: 10px 0;
    cursor: pointer;
}
/* line 882, ../sass/style.scss */
.item .name {
    font-size: 16px;
    color: #454545;
}
/* line 885, ../sass/style.scss */
.item .name p {
    font-size: 12px;
    color: #999999;
}

/* line 892, ../sass/style.scss */
.dollarsign {
    font-size: 12px;
    padding: 0 3px;
    color: #f0a900;
}

/* line 898, ../sass/style.scss */
.active .item {
    background-color: #fffaee;
    border: 2px solid #f0a900;
}

/* line 903, ../sass/style.scss */
.comment {
    text-align: right;
    color: #999999;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
}
/* line 909, ../sass/style.scss */
.comment img {
    width: 12px;
    margin-left: 9px;
    display: inline-block;
    vertical-align: baseline;
}

/* line 917, ../sass/style.scss */
.sale {
    position: relative;
    background-color: #ff685f;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    padding: 0px 8px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-bottom;
}
/* line 927, ../sass/style.scss */
.sale:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    background: #ff685f;
    top: 7px;
    left: -3px;
}
/* line 938, ../sass/style.scss */
.sale.minus {
    background-color: #f0a900;
}
/* line 940, ../sass/style.scss */
.sale.minus:before {
    background-color: #f0a900;
}

/* line 947, ../sass/style.scss */
.paid {
    color: #ffb300;
    font-size: 24px;
    text-align: right;
    line-height: 1.4;
}
/* line 952, ../sass/style.scss */
.paid p {
    color: #999999;
    font-size: 14px;
}

/* line 959, ../sass/style.scss */
.wechat-pay img {
    vertical-align: bottom;
    margin-top: 5px;
    margin-right: 11px;
}

/* line 966, ../sass/style.scss */
.btn-check {
    width: 30px;
    height: 30px;
    background: url(../images/img_unselect.png);
    background-size: 100%;
    vertical-align: text-top;
}
/* line 972, ../sass/style.scss */
.btn-check.checked {
    background: url(../images/img_selected.png);
    background-size: 100%;
}

/* line 978, ../sass/style.scss */
.vip {
    font-size: 12px;
    color: #ce9100;
    text-align: center;
    margin: 30px -15px 7px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 35px;
}
/* line 985, ../sass/style.scss */
.vip .col-xs-3 {
    padding: 0 2px;
}
/* line 988, ../sass/style.scss */
.vip img {
    width: 36px;
    display: block;
    margin: 0 auto 4px;
}

/* line 995, ../sass/style.scss */
.service {
    text-align: center;
}
/* line 997, ../sass/style.scss */
.service span {
    padding: 0 2px;
}
/* line 1000, ../sass/style.scss */
.service a {
    font-size: 10px;
    color: #999;
}

/* line 1006, ../sass/style.scss */
.total {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    z-index: 9;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    padding-left: 25px;
}
/* line 1017, ../sass/style.scss */
.total .dollarsign {
    padding: 0 3px 0 10px;
}
/* line 1020, ../sass/style.scss */
.total .money {
    font-size: 29px;
    color: #ffb300;
}
/* line 1024, ../sass/style.scss */
.total .btn-paid {
    background: #ffb300;
    color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
}

/*============================================================
    Footer
============================================================*/
/* line 1037, ../sass/style.scss */
footer, .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    text-align: center;
    clear: both;
    color: #999;
}
/* line 1046, ../sass/style.scss */
footer ul li, .footer ul li {
    display: inline-block;
    padding: 5px 0;
    font-size: 13px;
}
/* line 1050, ../sass/style.scss */
footer ul li a, .footer ul li a {
    color: #999;
    display: block;
}
/* line 1054, ../sass/style.scss */
footer ul li span, .footer ul li span {
    padding: 0 8px;
}

/* line 1059, ../sass/style.scss */
.footer {
    position: static;
}

/* line 1063, ../sass/style.scss */
.copyright {
    font-size: 12px;
    margin-bottom: 10px;
}

/* line 1068, ../sass/style.scss */
.txt-content {
    width: 100%;
    background: #fff;
    padding: 20px 30px 40px;
    margin: 0 auto;
}
/* line 1073, ../sass/style.scss */
.txt-content .big-title {
    color: #333;
    padding: 0px 0 20px;
    font-weight: bold;
    font-size: 18px;
}

/* line 1081, ../sass/style.scss */
.arrows {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
}
/* line 1086, ../sass/style.scss */
.arrows a {
    width: 49%;
    height: 50px;
    display: inline-block;
    line-height: 50px;
}
/* line 1092, ../sass/style.scss */
.arrows .icon-angle-left {
    color: #000;
    font-size: 22px;
}
/* line 1096, ../sass/style.scss */
.arrows .icon-angle-right {
    color: #aeaeb0;
    font-size: 22px;
}

/************************************************************************************
Link
*************************************************************************************/
/* line 1105, ../sass/style.scss */
#link {
    background-color: #fff;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    margin: 10px auto 0;
    clear: both;
}

/* line 1113, ../sass/style.scss */
.user-page #link {
    background-color: #f9f9f9;
}

/* line 1116, ../sass/style.scss */
.user-page footer {
    padding: 30px 0;
    margin: 0;
    background: #f9f9f9;
}

/* line 1121, ../sass/style.scss */
.link-logo {
    padding: 0 27px 10px;
    text-align: center;
}

/* line 1126, ../sass/style.scss */
.link-logo img {
    width: 50px;
    margin-right: 10px;
}

/* line 1130, ../sass/style.scss */
.link-content li {
    width: calc( 100% / 2 - 3px);
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-size: 15px;
}

/* line 1139, ../sass/style.scss */
.link-content li a {
    color: #026ba2;
    font-size: 15px;
}

/* line 1144, ../sass/style.scss */
.link-content li a:hover {
    color: #008cd6;
}

/* line 1148, ../sass/style.scss */
.link-content li p {
    font-size: 12px;
    color: #9e9e9e;
}

/* line 1153, ../sass/style.scss */
.flnet-service {
    background-color: #fff;
    border-top: 1px solid #eee;
    clear: both;
    padding: 10px 0 0;
    text-align: center;
    display: block;
    color: #7d7d7d;
}

/* line 1163, ../sass/style.scss */
.flnet-service img {
    width: 30px;
    padding-right: 10px;
}

/************************************************************************************
POPUP
*************************************************************************************/
/* line 1171, ../sass/style.scss */
.overlay {
    display: none;
}

/* line 1175, ../sass/style.scss */
.overlay:target {
    animation: show .3s ease-out;
    -webkit-animation: show .3s ease-out;
    -moz-animation: show .3s ease-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* line 1208, ../sass/style.scss */
.btn-close {
    opacity: 1;
}

/* Lightbox overlay */
/* line 1231, ../sass/style.scss */
.btn-close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    cursor: default;
}

/* line 1242, ../sass/style.scss */
.popup {
    padding: 20px;
    width: 97%;
    position: relative;
    transition: all 1s ease-in-out;
    position: relative;
}
/* line 1248, ../sass/style.scss */
.popup .content {
    position: relative;
    background: #fff;
    padding: 20px 18px;
    margin-top: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
/* line 1255, ../sass/style.scss */
.popup.service-term {
    padding: 40px 20px;
    width: 80%;
}
/* line 1259, ../sass/style.scss */
.popup h2 {
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 30px;
    color: #333;
    font-weight: bold;
}
/* line 1266, ../sass/style.scss */
.popup .graytxt {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}
/* line 1270, ../sass/style.scss */
.popup .graytxt .tip {
    color: #999;
    font-size: 12px;
    margin-bottom: 30px;
}
/* line 1276, ../sass/style.scss */
.popup ol li {
    padding-bottom: 5px;
}
/* line 1279, ../sass/style.scss */
.popup .close {
    position: absolute;
    top: 5px;
    right: 13px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #9a9a9a;
    opacity: 1;
}
/* line 1290, ../sass/style.scss */
.popup .btn-submit {
    width: 50%;
    margin-top: 20px;
    display: block;
}
/* line 1295, ../sass/style.scss */
.popup.qrcode {
    width: 220px;
    height: 220px;
    padding: 0;
    text-align: center;
    padding-top: 9px;
}
/* line 1301, ../sass/style.scss */
.popup.qrcode img {
    width: 205px;
}
/* line 1304, ../sass/style.scss */
.popup.qrcode .close {
    top: -28px;
    right: -34px;
    color: #fff;
}

/* line 1313, ../sass/style.scss */
#waiting-popup .popup .content {
    background-color: #fcfbfc;
}
/* line 1316, ../sass/style.scss */
#waiting-popup .close {
    position: static;
}

/* line 1321, ../sass/style.scss */
.error-page {
    text-align: center;
    background-color: #f0f0f0;
}
/* line 1324, ../sass/style.scss */
.error-page img {
    width: 200px;
    margin-top: 40%;
}

/*============================================================
    Tabar
============================================================*/
/* line 1333, ../sass/style.scss */
.wrapper {
    margin-bottom: 80px;
}

/* line 1336, ../sass/style.scss */
#tabar {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #fafafc;
    border-top: 1px solid #dfdfdf;
}
/* line 1344, ../sass/style.scss */
#tabar ul li {
    width: calc( 100% / 3 - 5px );
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    font-size: 12px;
}
/* line 1350, ../sass/style.scss */
#tabar ul li a {
    color: #b6b6b6;
}
/* line 1353, ../sass/style.scss */
#tabar ul li.active a {
    color: #008bd5;
}

/* line 1360, ../sass/style.scss */
.ico {
    width: 24px;
    height: 22px;
    display: block;
    margin: 0 auto;
}

/* line 1366, ../sass/style.scss */
.ico-home {
    background: url(../images/ico_home.png) no-repeat;
    background-size: 100%;
}

/* line 1370, ../sass/style.scss */
.active .ico-home {
    background: url(../images/ico_home.png) 0 -22px no-repeat;
    background-size: 100%;
}

/* line 1374, ../sass/style.scss */
.ico-shop {
    background: url(../images/ico_shop.png) no-repeat;
    background-size: 100%;
}

/* line 1378, ../sass/style.scss */
.active .ico-shop {
    background: url(../images/ico_shop.png) 0 -22px no-repeat;
    background-size: 100%;
}

/* line 1382, ../sass/style.scss */
.ico-my {
    background: url(../images/ico_my.png) no-repeat;
    background-size: 100%;
}

/* line 1386, ../sass/style.scss */
.active .ico-my {
    background: url(../images/ico_my.png) 0 -22px no-repeat;
    background-size: 100%;
}
#return {
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
}
#return a {
    color: #333;
}
#return i {
    font-size: 23px;
    display: block;
}
#return i.icon-angle-left {
    text-align: right;
    margin-right: 10px;
}
#return i.icon-angle-right {
    margin-left: 10px;
}
/*============================================================
    Responsive
============================================================*/
@media only screen and (max-width: 375px) {
    /* line 1398, ../sass/style.scss */
    .card {
        height: 306px;
    }
    /* line 1400, ../sass/style.scss */
    .card .card-body {
        padding: 91px 50px 20px 50px;
    }
}
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
    /* line 1407, ../sass/style.scss */
    .card {
        height: 117vh;
        position: relative;
    }
    /* line 1410, ../sass/style.scss */
    .card .card-body {
        padding: 91px 80px 20px 80px;
    }
    /* line 1413, ../sass/style.scss */
    .card p {
        position: absolute;
        bottom: 80px;
    }

    /* line 1418, ../sass/style.scss */
    .member {
        bottom: -2px;
    }

    /* line 1421, ../sass/style.scss */
    .btn-submit {
        width: 93%;
    }

    /* line 1424, ../sass/style.scss */
    .nickname {
        background: url(../images/bg.png) 0 -66px no-repeat;
    }

    /* line 1427, ../sass/style.scss */
    .popup {
        margin: 20% auto 0;
    }

    /* line 1430, ../sass/style.scss */
    footer, .footer {
        position: static;
        margin-top: 10px;
        padding-top: 40px;
    }
}
